<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>


    <add name="DBMoneyLoanConnectionString" connectionString="Data Source=Alaqunaibi;Initial Catalog=DBMoneyLoans;User ID=sqlala;Password=UseLogin"
         providerName="System.Data.SqlClient" />

    
    <!--<add name="DBMoneyLoanConnectionString" connectionString="Data Source=AlaQunaibi;Initial Catalog=DBMoneyLoans;Persist Security Info=True;User ID=alasql;Password=alasql"
      providerName="System.Data.SqlClient" />
      
      
    <add name="DBMoneyLoanConnectionMaster" connectionString="server=AlaQunaibi;Trusted_Connection=yes;database=master"
      providerName="System.Data.SqlClient" />
      
      
    <add name="PrjMoneyLoans.Properties.Settings.DBMoneyLoansConnectionString"
      connectionString="Data Source=ALAQUNAIBI-PC;Initial Catalog=DBMoneyLoans;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    
    
  </connectionStrings>
</configuration>